.content {
  width: auto;
  margin: auto 20px;
}

.content-primary {
  height: 65vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  opacity: 80%;
}

.subcontent {
  max-width: 750px;
  margin: auto;
}

.tags {
  --bs-btn-font-size: 0.7rem;
  --bs-btn-padding-y: 0.01rem;
  --bs-btn-padding-x: 0.4rem;
  pointer-events: none;
}

.footer {
  --bs-bg-opacity: 1;
  min-height: 50vh;
  background-color: rgba(
    var(--bs-tertiary-bg-rgb),
    var(--bs-bg-opacity)
  ) !important;
  color: var(--bs-body-color);
}

.footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

tr.row-emphasis {
  --bs-table-color: var(--bs-info-text-emphasis);
  --bs-table-striped-color: var(--bs-info-text-emphasis);
  --bs-table-hover-color: var(--bs-info-text-emphasis);
  --bs-table-bg: var(--bs-info-bg-subtle);
  --bs-table-striped-bg: var(--bs-info-bg-subtle);
}

tr.row-disabled {
  --bs-table-color: var(--bs-tertiary-color);
  --bs-table-striped-color: var(--bs-tertiary-color);
  --bs-table-hover-color: var(--bs-tertiary-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-striped-bg: var(--bs-body-bg);
  --bs-table-hover-bg: var(--bs-body-bg);
}
